=begin
#Vouchery API Reference

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

OpenAPI spec version: 1.0
Contact: hello@vouchery.io
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.3.4

=end

require 'uri'

module Vouchery
  class AreaRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an area rule
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [AreaRule] :area_rule 
    # @return [AreaRule]
    def create_area_rule(campaign_id, opts = {})
      data, _status_code, _headers = create_area_rule_with_http_info(campaign_id, opts)
      data
    end

    # Create an area rule
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @option opts [AreaRule] :area_rule 
    # @return [Array<(AreaRule, Fixnum, Hash)>] AreaRule data, response status code and response headers
    def create_area_rule_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AreaRulesApi.create_area_rule ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AreaRulesApi.create_area_rule"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/area_rules'.sub('{' + 'campaign_id' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'area_rule'])
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AreaRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AreaRulesApi#create_area_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an area rule
    # @param id Area Rule ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_area_rule(id, opts = {})
      delete_area_rule_with_http_info(id, opts)
      nil
    end

    # Delete an area rule
    # @param id Area Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_area_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AreaRulesApi.delete_area_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AreaRulesApi.delete_area_rule"
      end
      # resource path
      local_var_path = '/area_rules/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AreaRulesApi#delete_area_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an area rule
    # @param id Rule ID
    # @param [Hash] opts the optional parameters
    # @return [AreaRule]
    def get_area_rule(id, opts = {})
      data, _status_code, _headers = get_area_rule_with_http_info(id, opts)
      data
    end

    # Get an area rule
    # @param id Rule ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AreaRule, Fixnum, Hash)>] AreaRule data, response status code and response headers
    def get_area_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AreaRulesApi.get_area_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AreaRulesApi.get_area_rule"
      end
      # resource path
      local_var_path = '/area_rules/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AreaRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AreaRulesApi#get_area_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all area rules for a campaign
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<AreaRule>]
    def get_area_rules(campaign_id, opts = {})
      data, _status_code, _headers = get_area_rules_with_http_info(campaign_id, opts)
      data
    end

    # Get all area rules for a campaign
    # @param campaign_id Campaign ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AreaRule>, Fixnum, Hash)>] Array<AreaRule> data, response status code and response headers
    def get_area_rules_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AreaRulesApi.get_area_rules ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling AreaRulesApi.get_area_rules"
      end
      # resource path
      local_var_path = '/campaigns/{campaign_id}/area_rules'.sub('{' + 'campaign_id' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AreaRule>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AreaRulesApi#get_area_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an area rule rule
    # @param id Rule ID
    # @param [Hash] opts the optional parameters
    # @option opts [AreaRule] :area_rule 
    # @return [AreaRule]
    def update_area_rule(id, opts = {})
      data, _status_code, _headers = update_area_rule_with_http_info(id, opts)
      data
    end

    # Update an area rule rule
    # @param id Rule ID
    # @param [Hash] opts the optional parameters
    # @option opts [AreaRule] :area_rule 
    # @return [Array<(AreaRule, Fixnum, Hash)>] AreaRule data, response status code and response headers
    def update_area_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AreaRulesApi.update_area_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AreaRulesApi.update_area_rule"
      end
      # resource path
      local_var_path = '/area_rules/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'area_rule'])
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AreaRule')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AreaRulesApi#update_area_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end
end
